:root {
  /* CSS HEX */
--amber: #ffbe0bff;
--orange-pantone: #fb5607ff;
--winter-sky: #ff006eff;
--blue-violet: #8338ecff;
--azure: #3a86ffff;
}

/* Background */
body {
  background: linear-gradient(-45deg, var(--amber), var(--winter-sky), var(--orange-pantone), var(--blue-violet), var(--azure));
  background-size: 250% 250%;
  animation: gradient 15s ease infinite;
}
/* End Background */

/* Header/Footer */
header,
footer {
  background-color: #000;
}

header {
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
  width:100%;
  position:sticky;
}

header h1 {
  background: linear-gradient(-45deg, var(--amber), var(--winter-sky), var(--orange-pantone), var(--blue-violet), var(--azure));
  background-clip: text;
  color: transparent;
  animation: gradient 15s ease infinite;
  background-size: 250% 250%;
}

nav ul li a {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

footer {
  border-top-left-radius: 50% 40%;
  border-top-right-radius: 50% 40%;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
/* End Header/Footer */

/* About */
#my-pic {
  border-radius: 50%;
  height: 45%;
  width: 45%;
}

#bio {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
/* End About */

/* Portfolio */
.mpHeader {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#my-projects {
  width: 100%;

}

.projectSlide {
  width: 50%;
}
/* End Portfolio */

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}